/*   –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
     Copyright © 2016, Alice Chang
     All rights reserved
     The following code and content is for use by Alice Chang only.
     –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––  */

html {
  height: 100%;
}

#skrollr-body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}

h2, h3, h4, h5 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  text-align: left;
}

/* –––––––––––––––––– Banner CSS –––––––––––––––––– */

/* Banner - desktop screen (default) */
#banner {
  background:
      linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
      ),
      url('../img/oculus.png');
  background-size: 100%;
  color: white;
  padding: 14% 0;
  text-align: center;
}

#banner h1 {
  font-size: 6em;
  line-height: 1em;
  margin-bottom: .8em;
  text-align: center;
}

/* Note: order media queries from smallest to largest screen size in order for correct properties
   to be overridden. */

/* Tablets */
@media only screen and (max-width: 1000px) {
  #banner {
    background-size: 120%;
  }

  #banner h1 {
    font-size: 4.5em;
  }
}

/* Larger mobile phones */
@media only screen and (max-width: 480px) {
  #banner {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
         ),
         url('../img/oculus_tall.png');
    background-size: 100%;
    padding: 18% 0;
  }

  #banner h1 {
    font-size: 4.5em;
  }
}

/* Smaller mobile phones (iPhone 4S, 5) */
@media only screen and (max-width: 400px) {
  #banner {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
          ),
          url('../img/oculus_tall.png');
    background-size: 100%;
    padding: 15% 0;
  }

  #banner h1 {
    font-size: 4.5em;
  }
}

/* ----Banner text font size media queries---- */

/* Banner text - mobile phones (iPhone 6) */
@media only screen and (max-width: 450px) {
  #banner h1 {
    font-size: 3.7em;
  }
}

/* iPhone 4S, 5 */
@media only screen and (max-width: 350px) {
  #banner h1 {
    font-size: 3.2em;
  }
}

/* –––––––––––––––––– End banner CSS –––––––––––––––––– */

.page-section {
  padding: 4rem 0;
  margin-bottom: 0;
}

.page-img {
  display: block;
  height: 100%;
  width: 100%;
}

/* ––––––––––– Projects Page CSS ––––––––––– */

.demo {
  content:url('../img/pinfeedback-iphone-cropped.gif');
  display: block;
  margin-left: -2.5em;
  width: 140%;
}

@media only screen and (max-width: 1100px) {
  .demo {
    /* Any device wider than 1100px will see the full iPhone GIF; anything narrower will see the
    cropped GIF */
    content:url('../img/pinfeedback-iphone-full.gif');
    width: 150%;
  }
}

@media only screen and (max-width: 900px) {
  .demo {
    width: 160%;
  }
}

@media only screen and (max-width: 700px) {
  .demo {
    width: 185%;
  }
}

/* Note to self::: 550px is the point at which the page becomes vertically stacked. */
@media only screen and (max-width: 550px) {
  .demo {
    margin-left: .5em;
    padding-bottom: 1em;
    width: 52%;
  }

  .projects .page-img {
    padding-bottom: 1em;
    width: 40%;
  }
}

/* ––––––––––– Involvement Page CSS ––––––––––– */

@media only screen and (max-width: 550px) {
  .interests .page-img {
    margin-bottom: 1em;
    width: 95%;
  }
}

.femmes h5 {
  margin-bottom: 0em;
}

.project-icon {
  border-radius: 25px;
  float: left;
  height: 11em;
  margin-right: 1em;
  width: 11em;
}

.copyright {
  color: #777;
  font-size: 14px;
  text-align: center;
}